@tailwind base;
@tailwind components;
@tailwind utilities;

/* [data-testid="toastTouchableContainer"] {
	border: 0;
	border-radius: 16px;
	height: 64px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
} */
